body {
  
  background-color: #03fc39;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

h1 {
  color: #3503fc;
  text-align: center;
  font-size: 70px
 
}

p {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 20px;
  text-align: center; 


}
ul {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<style>
	a:link {
  color: Tomato;
  background-color: transparent;
  text-decoration: none;
}
 
a:visited {
  color: #0013bf;
  background-color: transparent;
  text-decoration: none;
}
 
a:hover {
  color: #bf008f;
  background-color: transparent;
  text-decoration: underline;
}
 
a:active {
  color: #a6bf00;
  background-color: transparent;
  text-decoration: underline;
}


